

/* ● Navegación en mobile (ancho mínimo 360px)
● Navegación en tablet (ancho mínimo 769px)
● Navegación en desktop (ancho mínimo 1025px)*/

body{
    font-family: 'Roboto', sans-serif;
}
/* Styles header */
.header{
    background-color: #EAC926;
    display: flex;
    flex-direction: column;
}
.header-title__container{
    display: flex;
    flex-direction: row;
    padding: 20px 15px 0px 15px;   
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.header-title__image{
    max-width: 150px;
    flex: 1.7;
    margin-right: 20px;
}
.header-search{
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px 5px;
}
.header-search__input{
    padding: 10px 5px 10px 10px;
    flex: 1;
    font-size: 14px;
    width: 124px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    color: #666;
}
.header-search__button{
    width: 36px;
    height: 40px;
    background-color: white;
    font-size: 16px;
    border-radius: 0px 5px 5px 0px;
    border-left: 1px solid #ebebeb;
}

.header-message{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    margin: 0px 20px;
}
.header-navbar{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    padding: 0px 20px;
}

.header-menu{
    display: block;
    margin: auto;
    padding: 20px 0px;
}
    
.header-menu__icon{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #03264C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.header-img__banner{
    max-width: 100%;
    max-height: 100%;
}

    
/* Main styles */

.main{
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
}
.main-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 90%;
    margin-top: 15px;
}
.main-section__title{
    color: #666;
    font-size: 24px;
    width: 100%;
}
.main-section__article{
    width: calc(25% - 20px);
    padding: 0px 15px 25px 15px;
    background-color: white;
    margin: 15px auto;
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in-out;
}
.main-section__article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.main-section__article img{
    max-width: 100%;
    height: auto;
    object-fit: cover
}
.main-section__text-container{
    border-top: solid 1px #ebebeb;
    display: flex;
    flex-direction: column;
    position: relative;
}
.main-section__text-container i{
    color: #39b54a;
    border: solid 1px #39b54a;
    padding: 6px;
    width: 32px;
    height: 32px;
    border-radius: 18px;
    align-self: flex-end;
    position: absolute;
    top: -10px;
    transition: transform 0.3s ease;
}
.main-section__text-container i:hover{
    transform: rotate(-90deg);
}
.main-section__text-container-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
}
.main-section__text-container-p1{
    font-size: 18px;
    color: black;
    padding-right: 15px;
}
.main-section__text-container-p2{
    font-size: 16px;
    color: #39b54a;
}
.main-section__text-container h3{
    opacity: 0;
    visibility: hidden;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    transition: opacity 0.5s ease-in-out ;
}
.main-section__article:hover .main-section__text-container h3{
    opacity: 1;
    visibility: visible;
}



/* Footer Styles */
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 55px;
    text-align: center;
}
.footer-section > i{
    color: #03264c;
    font-size: 40px;
}

.footer-section__title{
    font-size: 20px;
    color: #666;
    padding-top: 15px;
}
.footer-section__description{
    font-size: 14px;
    color: #666;
    text-align: center;
    
}


/* Responsive */

/* Header resposive */

@media (min-width: 769px) /* and (max-width: 769px)  */{
    .header-menu{
        display: none;
    }
    
    .header-title__image{
        max-width: 250px;
        margin-right: 20px;
    }
    .header-message{
        max-width: 350px;
    }
    .header-navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;
    }
    .header-navbar__menu{
        display: flex;
    }
    .header-navbar__user-menu{
        display: flex;
    }
    .header-navbar__menu a, .header-navbar__user-menu a{
        color: #000;
    }
    .header-navbar__menu li{
        font-size: 16px; 
        margin-left: 12px;
    }
    .header-navbar__user-menu li{         
        font-size: 16px; 
        margin-left: 12px;
    }
    .header-navbar__user-menu i{
        font-size: 16px;         
        margin-left: 5px;
    }
    .header-menu{
        display: none;
    }
}
@media (min-width: 1200px){

    .header-img__banner{
        height: 305px;
    }
}

/* Main responsive */

@media screen {
    .main-section{
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .main-section__title{
        width: 100%;
        padding-bottom: 20px;
        order: 0;
    }
    .main-section__article{
        margin: 5px 0px;
        width: calc(25% - 15px);
        box-sizing: border-box;
    }
    
}
@media screen and (max-width: 1025px) {

    .main-section__article{
        margin: 5px 0px;
        width: calc(50% - 20px);
    }
    
}
@media screen and (max-width: 520px) {

    .main-section__article{
        margin: 5px 0px;
        width: 100%;
    }
    
}

/* Footer Responsive */
@media (min-width: 769px){
    .footer-container{
        flex-direction: row;
    }
}