<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mercado Liebre</title>
    </head>
<body>
    <!-- Header and Navbar -->
    <header class="header">
        <div class="header-title__container">
            <a href="/"  class="header-title__image"><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
            <div class="header-search">
                <input class="header-search__input" type="text" value="Buscar productos, marcas y más">
                <button class="header-search__button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <h2 class="header-message">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <nav class="header-navbar">
            <ul class="header-navbar__menu">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="header-navbar__user-menu">
                <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="header-menu">
            <div class="header-menu__icon">
                <a href="#"><i class="fa-solid fa-bars" style="color: #ffffff;"></i></a>
            </div>
        </div>
        <img class="header-img__banner" src="/images/img-home-banner.jpg" alt="img-home-banner.jpg">
    </header>
    <main class="main">
        <section class="main-section">
            
            <h2 class="main-section__title">Basado en tu última visita</h2>

            <article class="main-section__article">
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div class="main-section__text-container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="main-section__text-container-row">
                        <p class="main-section__text-container-p1">$6.770</p>
                        <p class="main-section__text-container-p2">40% off</p>
                    </div>
                    <h3>Cafetera Moulimex</h3>                    
                </div>
            </article>
            <article class="main-section__article">
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <div class="main-section__text-container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="main-section__text-container-row">
                        <p class="main-section__text-container-p1">$230.000</p>
                    <p class="main-section__text-container-p2">20% off</p>
                    </div>
                    <h3>MacBook Pro 2019</h3>                    
                </div>
            </article>
            <article class="main-section__article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <div class="main-section__text-container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="main-section__text-container-row">
                        <p class="main-section__text-container-p1">$70.500</p>
                        <p class="main-section__text-container-p2">10% off</p>
                    </div>
                    <h3>Samsung Galaxy S10</h3>                    
                </div>
            </article>
            <article class="main-section__article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <div class="main-section__text-container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="main-section__text-container-row">
                        <p class="main-section__text-container-p1">$23.200</p>
                        <p class="main-section__text-container-p2">5% off</p>
                    </div>
                    <h3>SmartTv Samsung 43"</h3>                    
                </div>
            </article>
            </section>
        <section class="main-section">
            
            <h2 class="main-section__title">Ofertas</h2>

            <article class="main-section__article">
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div class="main-section__text-container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="main-section__text-container-row">
                        <p class="main-section__text-container-p1">$6.770</p>
                        <p class="main-section__text-container-p2">40% off</p>
                    </div>
                    <h3>Cafetera Moulimex</h3>                    
                </div>
            </article>
            <article class="main-section__article">
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <div class="main-section__text-container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="main-section__text-container-row">
                        <p class="main-section__text-container-p1">$230.000</p>
                    <p class="main-section__text-container-p2">20% off</p>
                    </div>
                    <h3>MacBook Pro 2019</h3>                    
                </div>
            </article>
            <article class="main-section__article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <div class="main-section__text-container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="main-section__text-container-row">
                        <p class="main-section__text-container-p1">$70.500</p>
                        <p class="main-section__text-container-p2">10% off</p>
                    </div>
                    <h3>Samsung Galaxy S10</h3>                    
                </div>
            </article>
            <article class="main-section__article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <div class="main-section__text-container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="main-section__text-container-row">
                        <p class="main-section__text-container-p1">$23.200</p>
                        <p class="main-section__text-container-p2">5% off</p>
                    </div>
                    <h3>SmartTv Samsung 43"</h3>                    
                </div>
            </article>
            </section>
        </main>
        <footer class="footer">
            <div class="footer-container">
                <section class="footer-section">
                    <i class="fa-solid fa-credit-card"></i>
                    <h2 class="footer-section__title">Pagá con tarjeta o en efectivo</h2>
                    <p class="footer-section__description">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </section>
                <section class="footer-section">
                    <i class="fa-solid fa-gift"></i>
                    <h2 class="footer-section__title"> Envío gratis desde $ 2.500</h2>
                    <p class="footer-section__description">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </section>
                <section class="footer-section">
                    <i class="fa-solid fa-user-shield"></i>
                    <h2 class="footer-section__title"> Seguridad, de principio a fin</h2>
                    <p class="footer-section__description">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </section>
            </div>
            <p class="footer-section__description">Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
        </footer>
</body>
</html>